html {
    min-height: 100%;
}

body {
    height: 100%;
    background: #86ddd7ff linear-gradient(#86ddd7ff,#c957f7ff); 
    background-repeat: no-repeat;
    background-size: cover;
}

.box-photo {
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;   
    text-align: center;
    margin: auto;
}

.box-photo img {
    margin-left: -20px;
    margin-top: -20px;
    max-height: 300px;
}

header {
    padding: 5%;
}

h1 {
    font-weight: bold;
}

.box-description {
    text-align: center;
}

.box-description h1 {
    margin-top: 5%;
    font-size: 35px;
}
.box-description h2 {
    font-size: 28px;
    color: rgb(8, 37, 36)
}
.box-links {
    width: 90%;
}

.box-links  {
    margin: auto;
}

.box-links ul li {
    background: #2a3142ff;
    color:white;
    font-size: 22px;
    border: white solid;
    border-radius: 30px;
    list-style: none;
    display: block;
}

.box-links ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 4%;
}

.box-links ul li a:hover {
    color: #86ddd7ff;
    font-weight: bold;
}

.box-links ul li:hover {
    color: #86ddd7ff;
    border: #86ddd7ff solid;
}

.box-links ul > li > img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    margin-left: 3%;
    margin-top: 2%;
    margin-right: 3%;
    float: left;
}